{% extends "donation_boi/base.html" %}
{% load semanticui %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="six wide column centered">
        <div class="ui form large center aligned {% if form.errors or next and user.is_authenticated %}error{% endif %}">

            <h1>Create an account to continue</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="ui error message">
                        <p>The form submissions contains errors you must fix before continuing.</p>
                    </div>
                {% endif %}
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="required field">
                            {{ form.first_name }}
                        </div>
                        <div class="required field">
                            {{ form.last_name }}
                        </div>
                    </div>
                </div>

                <div class="required field">
                    <label>Email address</label>
                    {{ form.email }}
                </div>
                <div class="required field">
                    <label>Username</label>
                    {{ form.username }}
                </div>
                <div class="required field">
                    <label>Password</label>
                    {{ form.password }}
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="field">
                    <input type="submit" class="ui button primary large" id="submit-btn" value="Continue"/>
                </div>
                <div class="field">
                    <p class="text-center"><a href="{% url 'login' %}">Already have an account?</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}