{% extends "donation_boi/base.html" %}
{% load auth_extras %}
{% block title %}Stores{% endblock %}
{% block content %}
    <div class="twelve wide column">
        <h1>{{ store.name }}
            {% if request.user|has_group:"Location employee" or request.user|has_group:"Manager" or request.user|has_group:"Administrator" %}
            <a class="ui tiny basic button primary" href="{% url 'admin:donation_boi_item_add' %}">Record donation</a>
            {% endif %}
            {% if request.user|has_group:"Manager" or request.user|has_group:"Administrator" %}
            <a class="ui tiny basic button primary" href="{% url 'admin:donation_boi_store_change' object_id=store.pk %}">Edit
                store</a>
            <a class="ui tiny basic button" href="{% url 'admin:donation_boi_store_delete' object_id=store.pk %}">Delete store</a>
            {% endif %}</h1>
        <ul>
            <li><strong>Location: </strong> {{ store.address }} ({{ store.location_type }})</li>
            <li><strong>URL: </strong> <a href="{{ store.website }}">{{ store.website }}</a></li>
            <li><strong>Phone number: </strong>{{ store.phone_number }}</li>
        </ul>
        <em>As of: {{ store.updated_at }}</em>
    {{ True }}
{% if "'donation_boi.add_item'" in perms.item %}hi{% endif %}
        <h2>Inventory</h2>
        <div class="ui three stackable cards">
            {% for item in store.item_set.all %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {{ item.name }}
                        </div>
                        <div class="meta">
                            {{ item.get_category_display }}
                        </div>
                        <div class="description">
                            {{ item.short_description }}
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="ui basic button" href="{% url 'item_detail' pk=item.pk %}">View details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}